[submodule "workflow-test"]
	path = workflow-test
	url = git@github.com:janghw33/workflow-test.git
[submodule "wd51-test"]
	path = wd51-test
	url = git@github.com:StephanUllmann/wd51-test.git
[submodule "psd_to_html"]
	path = psd_to_html
	url = git@github.com:janghw33/psd_to_html.git
[submodule "psd_to_html_local"]
	path = psd_to_html_local
	url = git@github.com:janghw33/psd_to_html.git
[submodule "cms-project"]
	path = cms-project
	url = git@github.com:AnnaNnh01/contentful-mobile.git
[submodule "cookbook"]
	path = cookbook
	url = git@github.com:mdMehediBillah/wd51-cookbook.git
